{
  "env": {
    "node": true,
    "commonjs": true,
    "es6": true,
    "jest": true
  },
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "no-console": 1,
    "linebreak-style": ["error", "unix"],
    "no-unused-vars": ["warn"],
    "one-var": ["off"],
    "no-process-env": "off",
    "prettier/prettier": 2
  }
}
